.search-box {
    -fx-background-color: #e3f2fd; /* Bleu clair */
    -fx-background-radius: 20;
    -fx-padding: 8px;
    -fx-spacing: 8px;
}

.search-button {
    -fx-background-color: #2196f3; /* Bleu */
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
}

.right-bar {
    -fx-background-color: #ffffff; /* Blanc */
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.2), 10.0, 0.0, 2.0, 2.0);
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.chosen-evenement-card {
    -fx-background-color: #7fe7dc; /* Violet */
    -fx-background-radius: 30;
}

.other-element {
    -fx-background-color: #e0e0e0; /* Gris clair */
}
.event-card{
    -fx-background-color: #7fe7dc; /* Violet */
    -fx-background-radius: 20;


}
