#AnchorPane {
    -fx-background-color: linear-gradient(to bottom, #4F81BD, #1B365D);
}

.form {
    -fx-background-color: transparent;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.save-button {
    -fx-background-color: #0a4669;
    -fx-text-fill: white;
    -fx-pref-width: 177px;
}

.save-button:hover {
    -fx-background-color: #1a7312;
}

.text {
    -fx-fill: white;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 10;
    -fx-pref-width: 250px;
}

.text-field:focused {
    -fx-border-color: #0a4669;
}

